name: Check health of libraries

on:
  workflow_dispatch:
  push:
    paths:
      - "Common/**"
      - "Signalling/**"
      - "SignallingWebServer/**"
      - "Frontend/library/**"
      - "Frontend/ui-library/**"
      - "Frontend/implementations/typescript/**"
  pull_request:
    paths:
      - "Common/**"
      - "Signalling/**"
      - "SignallingWebServer/**"
      - "Frontend/library/**"
      - "Frontend/ui-library/**"
      - "Frontend/implementations/typescript/**"

jobs:
  build-using-local-deps:
    if: github.repository == 'EpicGamesExt/PixelStreamingInfrastructure'
    runs-on: ubuntu-latest
    steps:
    - name: Checkout source code
      uses: actions/checkout@v3

    - name: Get node version
      id: get_node_version
      run: echo "node_version=$(cat NODE_VERSION)" >> $GITHUB_OUTPUT

    - uses: actions/setup-node@v4
      with:
        node-version: "${{ steps.get_node_version.outputs.node_version }}"
        registry-url: 'https://registry.npmjs.org'

    - name: Clean build and lint checks on common library
      working-directory: Common
      run: npm install && npm run build && npm run lint

    - name: Clean build and lint checks on signalling library
      working-directory: Signalling
      run: npm install && npm run build && npm run lint

    - name: Clean build and lint checks on wilbur
      working-directory: SignallingWebServer
      run: npm install && npm run build && npm run lint

    - name: Clean build, lint and unit tests on frontend library
      working-directory: Frontend/library
      run: npm install && npm run build && npm run lint && npm run test

    - name: Clean build and lint checks on frontend ui library
      working-directory: Frontend/ui-library
      run: npm install && npm run build && npm run lint

    - name: Clean build of frontend implementation
      working-directory: Frontend/implementations/typescript
      run: npm install && npm run build

    - name: Clean build of frontend implementation as ES6
      working-directory: Frontend/implementations/typescript
      run: npm install && npm run build:esm
