name: Check health of libraries (public deps)

on:
  workflow_dispatch:
    inputs:
      commitsha:
        description: "Commit SHA for the release (if blank use latest on this branch)"

env:
  commitsha: "${{ github.event.inputs.commitsha || github.sha }}"

jobs:
  build-using-public-deps:
    runs-on: ubuntu-latest
    outputs:
      continue: ${{ steps.set_output.outputs.continue }}
    steps:
    - name: Checkout source code
      uses: actions/checkout@v3
      with:
        ref: "${{ env.commitsha }}"

    - name: Get node version
      id: get_node_version
      run: echo "node_version=$(cat NODE_VERSION)" >> $GITHUB_OUTPUT

    - uses: actions/setup-node@v4
      with:
        node-version: "${{ steps.get_node_version.outputs.node_version }}"
        registry-url: 'https://registry.npmjs.org'

    - name: Remove NPM workspaces
      run: rm package.json && rm package-lock.json

    # Not linting or testing because some of those tools require the
    # workspace dependencies. eg. eslint and its plugins.
    - name: Build signalling using published packages only
      if: always()
      working-directory: Signalling
      run: npm install && npm run build
    - name: Build Wilbur using published packages only
      if: always()
      working-directory: SignallingWebServer
      run: npm install && npm run build
    - name: Build Frontend/library using published packages only
      if: always()
      working-directory: Frontend/library
      run: npm install && npm run build
    - name: Build Frontend/ui-library using published packages only
      if: always()
      working-directory: Frontend/ui-library
      run: npm install && npm run build
    - name: Build Frontend/implementations/typescript using published packages only
      if: always()
      working-directory: Frontend/implementations/typescript
      run: npm install && npm run build

    - id: set_output
      run: echo "continue=true" >> $GITHUB_ENV

