name: Publish SFU image

on:
  workflow_dispatch:
  push:
    branches: 
      - 'UE*'
    paths: 
      - 'SFU/package.json'

jobs:
  signalling-server-image:
    if: github.repository == 'EpicGamesExt/PixelStreamingInfrastructure'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Obtain the UE version from the branch name
        id: extract-version
        run: |
          BRANCH_NAME=${{ github.ref_name }}
          echo "version=${BRANCH_NAME#UE}" >> $GITHUB_OUTPUT
        
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          username: pixelstreamingunofficial
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push the SFU container image
        uses: docker/build-push-action@v3
        with:
          context: .
          tags: 'pixelstreamingunofficial/pixel-streaming-sfu:${{ steps.extract-version.outputs.version }}'
          push: true
          file: SFU/Dockerfile
        
      - id: get-package-json
        run: |
          package_content=`cat SFU/package.json`
          echo "json<<EOF" >> $GITHUB_OUTPUT
          echo $package_content >> $GITHUB_OUTPUT
          echo 'EOF' >> $GITHUB_OUTPUT

      - uses: actions/github-script@v5
        with:
          script: |
            github.rest.git.createRef({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: 'refs/tags/sfu-${{ github.ref_name }}-${{ fromJson(steps.get-package-json.outputs.json).version }}',
              sha: context.sha
            })
